<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<div class="container pb-5">
  <div class="card border-info">
    <h5 class="card-header"><i class="fas fa-utensils"></i> 新增一間餐廳</h5>
    <div class="card-body">
      <form action="/restaurants" method="POST" novalidate>
        <div class="input-group mb-3">
          <span class="input-group-text">中文&英文店名<span class="text-danger">*</span></span>
          <input type="text" class="form-control" placeholder="在島之後" name="name" required />
          <input type="text" class="form-control" placeholder="After Island" name="name_en" required />
        </div>
        <div class="input-group mb-3">
          <label for="category" class="form-label input-group-text">分類<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="category" placeholder="美式" list="categoryOptions" name="category"
            required />
          {{! 使用datalist，讓使用者可選擇或自行輸入 }}
          <datalist id="categoryOptions">
            <option>美式</option>
            <option>咖啡</option>
            <option>中東料理</option>
            <option>日本料理</option>
            <option>義式餐廳</option>
          </datalist>
        </div>
        <div class="input-group mb-3">
          <label for="image" class="input-group-text form-label">圖片連結<span class="text-danger">*</span></label>
          <input type="url" class="form-control" id="image" name="image" required />
        </div>
        <div class="input-group mb-3">
          <label for="location" class="input-group-text form-label">地址<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="location" placeholder="台南市東區東寧路201巷121號" name="location" required />
        </div>
        <div class="input-group mb-3">
          <label for="phone" class="input-group-text form-label">電話<span class="text-danger">*</span></label>
          <input type="tel" class="form-control" id="phone" placeholder="0908 806 569" name="phone" required />
        </div>
        <div class="input-group mb-3">
          <label for="google_map" class="input-group-text form-label">Google地圖連結<span class="text-danger">*</span></label>
          <input type="url" class="form-control" id="google_map" name="google_map" required />
        </div>
        <div class="input-group mb-3">
          <label for="rating" class="input-group-text form-label">評分<span class="text-danger">*</span></label>
          <input type="number" class="form-control" id="rating" min="0" max="5" step="0.1" name="rating" required />
        </div>
        <div class="input-group mb-3">
          <label for="description" class="input-group-text form-label">敘述<span class="text-danger">*</span></label>
          <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
        </div>
        <div class="text-right mt-3">
          <button type="submit" class="btn btn-info">
            新增餐廳
          </button>
          <a href="/">
            <button type="button" class="btn btn-outline-secondary">
              返回首頁
            </button>
          </a>
          {{! 使用type="reset" 可以清除/還原輸入 }}
          <button type="reset" class="btn btn-outline-danger">重新輸入</button>
        </div>
      </form>
    </div>
  </div>
</div>

